.inputNomAp{
    width: 265px;
    height: 40px;
    border-radius: 15px;
}

.inputPass{
    width: 540px;
    height: 40px;
    border-radius: 15px;
}

.topEditProf{
    margin-left: -170px;
    h2{
        font-size: 36px;
        font-weight: 700;
    }
    p{
        font-size: 14px;
        
    }
    Button{
        background-color: #EFEFEF;
        width: 80px;
        height: 40px;
        border-radius: 25px;
        color: #767676;
        font-weight: 800;

    }
}