@import '../../colors.scss';

.ant-input-affix-wrapper{
    margin-top: 5px;
    width: 1300px !important;
    height: 45px;
    background-color: #efefef !important;
    border-radius: 25px !important;
    .ant-input{
        background-color: #efefef;
    }
}

svg{
    color: #767676 !important;  
    width:25px;    
}

