ant-card tarjeta ant-card-bordered{
    margin-top: 35px;
    width: 800px;
}

button {
    background-color: #E2E2E2;
    width: 350px;
    height: 35px;
    border-radius: 25px; 
}

strong{
    color: white;
}